.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 450px));
  margin: auto;
  gap: 119px;
}

@media screen and (max-width: 769px) {
  .cards {
    gap: 45px;
  }
}

@media screen and (max-width: 500px) {
  .cards{
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

