.form__field {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.52;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0;
  padding-bottom: 25px;
  width: 100%;
}

.form__field::placeholder {
  color: #486958;
}

.form__field:hover {
  opacity: 0.5;
  transition: 0.3s;
  animation-timing-function: ease;
}

.form__field:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 1024px) {
  .form__field {
    font-size: 20px;
  }
}
