.statistics__content {
  display: grid;
  grid-template-rows: minmax(100px, max-content);
  grid-template-columns: auto minmax(100px, 997px);
  margin-top: 120px;
  background-color: #CCF0E6;
}

@media screen and (max-width: 821px) {
  .statistics__content {
    grid-template-columns: 1fr;
    margin-top: 100px;
    grid-template-rows: min-content;
  }
}

