.description__button {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  border-radius: 20px 20px 20px 0px;
}

@media (max-width: 1281px) {
  .description__button {
    max-width: 150px;
    max-height: 60px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
