.testimonial__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 90px;
  max-width: 90%;
  list-style: none;
  padding: 0;
  margin: 80px auto 0;
}

@media screen and (max-width: 769px) {
  .testimonial__list {
    margin-top: 30px;
    gap: 45px;
  }
}

@media screen and (max-width: 425px) {
  .testimonial__list {
    grid-template-columns: 1fr;
    max-width: 70%;
    gap: 30px;
  }
}
